<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text text-lighten-1">Clients</h1>
      <div class="row center">
        <h5 class="header col s12 blue-text text-lighten-2">Here is a list of all your current clients. If you'd like to add a client, do it through the stylists page.</h5>
      </div>
      <div class="row center">
        <a href="/" id="download-button" class="btn-large waves-effect waves-light blue text-lighten-2">Return Home</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="<%= url('img/background1.jpg') %>" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
  <div class="row center">
    <% if @clients.any?() %>
      <ul class="collection with-header">
        <li class="collection-header">Clients</li>
        <% @clients.each() do |client| %>
          <li class="collection-item"><a href="/clients/<%= client.id() %>"><%= client.name() %></a></li>
        <% end %>
      </ul>
    <% else %>
      <h2>There are no clients!</h2>
    <% end %>
  </div>
</div>
