<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text text-lighten-1">Noah's Salon</h1>
      <div class="row center">
        <h5 class="header col s12 blue-text text-lighten-2">An app that shows you the stylists you have working for you, as well as the clients your company has gathered. View stylists, clients, and more to come!</h5>
      </div>
      <div class="row center">
        <a href="/stylists" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">View Stylists</a>
        <a href="/clients" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">View Clients</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="<%= url('img/background1.jpg') %>" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text"><i class="material-icons">navigation</i></h2>
          <h5 class="center">Section 1</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text"><i class="material-icons">schedule</i></h2>
          <h5 class="center">Section 2</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text"><i class="material-icons">location_on</i></h2>
          <h5 class="center">Section 3</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Salon.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="img/background2.jpg" alt="Unsplashed background img 2"></div>
</div>


<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12 offset-l3 center-align">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="white-text text-lighten-3" href="http://www.google.com/">Noah</a>
    </div>
  </div>
</footer>
